<p>
    <h1>Course CSV Generator</h1>
    <a href="https://ucdenver.instructure.com">https://ucdenver.instructure.com</a>
</p>
<p>
    The Course CSV Generator is an app that will generate a CSV file of courses listed under a specific account.
</p>
@using (Html.BeginForm("ExternalLogout", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <button type="submit" id="LogOutLink", class="float-right">Log Out</button>
}
<hr />